<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KG</title>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="static/js/cytoscape.min.js"></script>
    <style>
    #cy {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }
</style>
</head>
<body>
<div class="container-fluid">
    <div class="row" style="margin-top: 20px;margin-left: 10px;">
        <div class="col-sm-4">
            <div id="divSourceNode">

            </div>
            <div id="divTargetNode" >

            </div>
            <div id="divCount"></div>
            <div id="studies"></div>
        </div>
    </div>
    <div class="row">

    </div>


    </div>
<br>
<br>
<br>
            <div id="cy"></div>
            <script src="../static/js/custom.js" id="custom" type="text/javascript" disease="{{ diseasename }}">
            </script>
</body>
</html>